$backcolor : #0B1D26;
$decorcolor : rgba(251, 215, 132, 1);
$transparentcolor : rgba(11, 29, 38, 0);
$headerfootertext : 11px;

@font-face {
    font-family: Chronicle Display;
    src: url(/fonts/Chronicle\ Display\ Semibold.otf);
}
@font-face {
    font-family: Gilroy replica;
    src: url(/fonts/RenogareSoft-Regular.ttf);
}
@keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@mixin gradientSetting {
    z-index: 2;
    width: 100%;
    position: absolute;
}
@mixin navHeaderMixin {
    .navHeader {
        color: $decorcolor;
        font-size: 14px;
    }
}
@mixin mediaGradientMixin {
    background-image: linear-gradient(180deg, $transparentcolor 0%, $backcolor 45%);
}
.button:hover {
    color: $decorcolor;
    cursor: pointer;
    }
body {
    margin: 0;
    padding: 0;
    background-color: $backcolor;
    color: white;
}
#imgBackground {
    position: absolute;
    background-image: url(/img/background.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment:scroll;
    height: 1400px;
    width: 100%;
    z-index: 1;
}
.imgFrame {
    height: 1400px;
}
.diagonalGradient {
    @include gradientSetting;
    height: 1400px;
    background-image: linear-gradient(330.24deg, $transparentcolor 45%, $backcolor 110%);
}
.horizonGradient {
    @include gradientSetting;
    top: 1000px;
    height: 400px;
    background-image: linear-gradient(180deg, $transparentcolor 45%, $backcolor 75%);
}
.headerBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    top: 38px;
    position: relative;
    margin: 0 60px;
}
.headerBlock1 {
    display: flex;
    font-family: Chronicle Display;
    font-size: 24px;
}
.headerBlock2 {
    display: flex;
    justify-content: center;
    font-family: Gilroy replica;
    font-size: $headerfootertext;
}
.headerNav {
    display: flex;
    column-gap: 40px;
}
.headerBlock3 {
    display: flex;
    align-items: center;
}
.accountName {
    margin-left: 4px;
    font-family: Gilroy replica;
    font-size: $headerfootertext;
}
.headerMain {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 4;
    top: 210px;
    animation: appear 1500ms ease-in forwards;
}
.headerContainer {
    display: flex;
    flex-basis: 712px;
    flex-direction: column;
}
.textHeader {
    font-size: 65px;
    font-family: Chronicle Display;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 3px;
}
.sectionFrame {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20vh;
    flex-wrap: wrap;
    height:fit-content;
}
.sectionBlock {
    bottom: 38vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    z-index: 4;
    gap: 4vw;
}
.sectionBlockRight {
    right: 11vw;
    flex-direction: row-reverse;
    gap: 12vw;
}
.sectionNumber {
    z-index: 3;
    opacity: 0.12;
    position: relative;
    bottom: 18vh;
    font-family: Gilroy replica;
    font-size: 180px;
    transform: scale(1,1.2);
    letter-spacing: -10px;
}
.number01 {
    left: 8.5vw;
}
.number02 {
    position: absolute;
    bottom: 43vh;
    left: 57vw;
}
.number03 {
    left: 10.5vw;
}
.sectionContainer {
    display: flex;
    flex-basis: 33%;
    flex-direction: column;
}
.sectionSlogan {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $decorcolor;
    font-family: Gilroy replica;
    font-size: 13px;
    margin-bottom: 21px;
}
.lineSlogan {
    width: 62px;
    height: 2px;
    background-color: $decorcolor;
}
.textSlogan {
    word-spacing: 3px;
    letter-spacing: 4px;
    margin-left: 26px;
    transform: scale(1,1.11);
}
.sectionPicture {
    width: 480px;
    padding: 0 60px 0 50px;
}
.sectionHeader {
    font-size: 50px;
    font-family: Chronicle Display;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 3px;
}
.sectionParagraph {
    position: relative;
    top: 30px;
    font-family: Gilroy replica;
    font-size: 12px;
}
.caption {
    display: flex;
    gap: 15px;
    position: relative;
    top: 50px;
    font-family: Gilroy replica;
    font-size: 12px;
    color: $decorcolor;
}
.footerBody {
    position: relative;
    z-index: 4;
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin: 0 11vw 0 11vw;
    font-family: Gilroy replica;
    font-size: $headerfootertext;
    bottom: 15vh;

    .footerLeftBlock {
        display: grid;
        grid-template-rows: 55px 90px 85px;
        width: 17vw;

        .sloganFooter {
            display: grid;
        }
        .logoFooter {
            font-family: Chronicle Display;
            font-size: 24px;
        }
        .copyrigt {
            margin-top: 5vh;
            opacity: 0.5;
        }
    }
    .footerRightBlock {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10vw;

        .navMoreOnTheBlog {
            display: grid;
            grid-template-rows: 40px 35px 35px 35px 35px 90px;
            @include navHeaderMixin;
        }
        .navMoreOnMNTN {
            display: grid;
            grid-template-rows: 40px 35px 35px 35px;
            @include navHeaderMixin;
        }
    }    
}
@import "media";